* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-size: 20px;
  --grey: #222831;
  --black: #393E46;
  --teal: #00ADB5;
  --white: #EEEEEE;
  color: var(--white);
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "side-menu header"
    "side-menu main";
}
.header {
  grid-area: header;
  background-color: var(--black);
  padding: 20px 50px;

  display: grid;
  grid-template-columns: 1fr 500px;
}
#search-bar {
    width: 90%;
    height: 40px;
    border-radius: 50px;
    font-size: 1.1rem;
    padding: 0 10px;
    border: none;
}
.welcome-container {
    margin-top: 40px;
    display: flex;
}
.greeting {
    font-size: 0.8rem;
}
.full-user-name {
    font-size: 1.35rem;
}
.notification-user-profile {
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
}
.button-container {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}
.button-container>button {
    height: 40px;
    width: 100px;
    border-radius: 50px;
    font-size: 0.8rem;
    background-color: var(--teal);
    border: none;
    color: var(--white);
}
.side-menu {
  grid-area: side-menu;
  background-color: var(--grey);
  padding: 10px;
  
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.dashboard{
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 20px;
}
.dashboard>.material-icons {
  font-size: 4rem;
}
.side-menu li {
    padding: 12px 20px;
    font-size: 1.35rem;
}
.list-item {
  display: flex;
  gap: 40px;
}
.material-icons.menu-icon {
  font-size: 1.5rem;
}
.main {
  grid-area: main;
  background-color: var(--white);
  padding: 10px 50px 10px 20px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 30px;
}
.heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--grey);
}
.projects-container {
  /* background-color: orange; */
  /* padding: 10px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.project-tiles {
  background-color: var(--black);
  height: 220px;
  border-radius: 15px;
  border-left: solid var(--teal) 11px;
  padding: 10px 30px 10px 15px;
}
.project-heading {
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.project-description {
  font-size: 0.9rem;
}
.project-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}
.project-buttons>button {
  background-color: transparent;
  border: none;
}
.project-buttons>button>.material-icons {
  color: var(--white);
}
.announcement-trending-container {
  /* background-color: skyblue; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.announcement-content {
  height: fit-content;
  padding: 30px 20px;
  background-color: var(--black);
  border-radius: 20px;
}
.announcement-heading {
  font-size: 0.89rem;
}
.announcement-description {
  font-size: 0.8rem;
}
hr {
  width: 90%;
  margin: 20px auto;
}
.trending-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  height: fit-content;
  padding: 30px 20px;
  background-color: var(--black);
  border-radius: 20px;
}
.trending-topic {
  display: flex;
}
.user-handle {
  font-size: 0.85rem;
  font-weight: 560;
}
.trending-topic p{
  font-size: 0.85rem;
  font-weight: 350;
}
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}